<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See where your friend has been to!</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>
<body>

<h1> Your friend has been to: </h1>

<table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Library</th>
  </tr>

    {% for user in para1 %}

  <tr>
  {% for u in user %}
    <td>{{ u }}</td>
    {% endfor %}
  </tr>

    {% endfor %}
</table>

</body>
</html>